<div class="col-sm-12 col-md-6">
    {{dynamicTemplate renderTypes.imagelayers renderTypes tabImage}}
</div>
<div class="col-sm-12 col-md-6">
    {{dynamicTemplate renderTypes.textwithtwobuttons renderTypes tabContent}}
</div>
